<!DOCTYPE html>
<html>
<head>
    <title>Signup</title>
</head>
<body>
    <h1>Signup</h1>
    <form method="POST" action="/signup">
        <!-- In this section we will be entring the email  -->
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required><br>
        <!-- in this ection  -->
        <label for="user_name">User_name:</label>
        <input type="text" id="user_name" name="user_name" required><br>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required><br>

        <input type="submit" value="Signup">
    </form>
</body>
</html>